<section class="container py-12">
  <h2 class="font-display text-3xl mb-8">{{ trans("product.related") }}</h2>
  <salla-products-slider source="related" :product-id="product.id" count="6"></salla-products-slider>
</section>
